In [2]:
#함수명 = lambda 파라미터 : 함수식
import numpy as np

In [3]:
def adder1(a,b):
  return a+b

In [6]:
adder2 = lambda c,d : c+d

In [7]:
print(adder1(1,2))
print(adder2(1,2))

3
3

In [ ]:
#람다 함수는 def함수와 달리 1줄로 정의 할 수 있음.
#복잡한 코드를 실행하는 함수에는 부적합 하지만, 간단한 함수를 만들 때에 유용함

1. input().split()으로 고유번호 리스트를 입력받는다.

2. map(int, input().split())으로 리스트의 요소를 정수형으로 변환한다.

3. map()와 lamda x : x**2 를 통해 요소의 제곱 리스트를 만든다.

4. sum()으로 고유번호 제곱의 합을 구한다.

In [8]:
print(sum(map(lambda x : x**2, list(map(int, input().split())))))

4
16

In [9]:
a = lambda x, y : x+y
print(100,200)
print('ice','coffee')

100 200
ice coffee

In [10]:
f = lambda x, y = 1: x + y

print(f(100))

101

In [11]:
f(200,300)

500

In [12]:
#람다를 함수로 구현하는 식

def f1(x):
  return x * x + 5 * x - 5


def f2(x):
  return x* x* x


def f3(func):
  return[func(x) for x in range(-10, 10)]


print(f3(f1))
print(f3(f2))

[45, 31, 19, 9, 1, -5, -9, -11, -11, -9, -5, 1, 9, 19, 31, 45, 61, 79, 99, 121]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#람다를 함수로 구현하는 식

def f1(x):
  return x * x + 5 * x - 5


def f2(x):
  return x* x* x


def f3(func):
  return[func(x) for x in range(-10, 10)]


print(f3(f1))
print(f3(f2))

In [23]:
def f3(func):
  return[func(x) for x in range(-10, 10)]


print(f3(lambda x : x * x + 5 * x - 5))
#f3(f1)
print(f3(lambda x : x * x* x))
#f3(f1)

[45, 31, 19, 9, 1, -5, -9, -11, -11, -9, -5, 1, 9, 19, 31, 45, 61, 79, 99, 121]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
: