In [2]:
import numpy as np

In [3]:
#transpose

a = np.array([[0,1,2],[3,4,5]])
result = a.transpose()
print (a)

[[0 1 2]
 [3 4 5]]

In [4]:
b = np.array([[0,1,2,3,4], [5,6,7,8,9],[10, 11, 12, 13,14]])

print(b)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [5]:
print(b[2,3])

13

In [6]:
#시퀀스 슬라이싱

b = np.array([[0,1,2,3,4], [5,6,7,8,9],[10, 11, 12, 13,14]])

print(b[:, 0:4])

[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]

In [24]:
print(b[[0,2], 1::2])

[[ 1  3]
 [11 13]]

In [31]:
#transpose

arr = np.arange(16)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [37]:
arr = np.arange(16).reshape((2,2,4))
print(arr)

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]]

In [38]:
print(arr.transpose((1,0,2)))


#원래 행렬이 i*J*k 차원이면
#0 = i
#1 = j
#2 = k

#이제 j*i*k로 바꿀거라는 이야기임

#k크기 행렬을 편의상 원소 하나로 보고 전체 행렬은 i*j가 되는데
#rmsid j*i로 바꾸는 거임.

[[[ 0  1  2  3]
  [ 8  9 10 11]]

 [[ 4  5  6  7]
  [12 13 14 15]]]

In [39]:
print(arr.transpose((2,0,1)))

[[[ 0  4]
  [ 8 12]]

 [[ 1  5]
  [ 9 13]]

 [[ 2  6]
  [10 14]]

 [[ 3  7]
  [11 15]]]

In [ ]:
#전치 행렬 더 공부하자...

In [ ]:
# 7.5 추가 공부

![numpy_transpose_01.png]()

In [7]:
a = np.arange(1,10).reshape(3,3)
b = np.transpose(a)

print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [8]:
a = np.array(([1,2,3], [4,5,6]))

print(a)
print(np.transpose(a))

[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

In [ ]:
#enumerate 7.5 update

In [ ]:
#예제가 있는 자료형

In [9]:
data = enumerate((1,2,3))

print('data : ', data)
print('type : ', type(data))

#enumerate 객체를 반환한다

data :  <enumerate object at 0x7fb18d546d20>
type :  <class 'enumerate'>

In [10]:
data = enumerate((1,2,3)) #자료형 튜플에서

for i , value in data:
  print("index : {}, value : {}".format(i,value))

index : 0, value : 1
index : 1, value : 2
index : 2, value : 3

In [11]:
data = enumerate('python은 재밌어!') #자료형 문자열에서

for i, value in data:
  print('index : {}, value : {}'.format(i,value))

index : 0, value : p
index : 1, value : y
index : 2, value : t
index : 3, value : h
index : 4, value : o
index : 5, value : n
index : 6, value : 은
index : 7, value :
index : 8, value : 재
index : 9, value : 밌
index : 10, value : 어
index : 11, value : !

In [12]:
list_data = [1,2,3] #자료형 리스트에서
data = enumerate(list_data)

for i , value in data:
  print("index : {}, value : {}".format(i,value))

index : 0, value : 1
index : 1, value : 2
index : 2, value : 3

In [ ]:
#순서 없는 자료형에서 enumerate

In [14]:
dict1 = {'나이' : 24, '학교' : 'gis'}                   #자료형 dict
data = enumerate(dict1)
#없는대신, key값을 통해 value를 얻는다.

for i, value in data:
  print('index : {}, value : {}'.format(i, value))

index : 0, value : 나이
index : 1, value : 학교

In [17]:
data = enumerate({1,2,3,3})                            #자료형 : set

for i ,value in data:
  print("index : {}, value : {}".format(i, value))

#중복을 허용하지 않고 순서가 없다.

index : 0, value : 1
index : 1, value : 2
index : 2, value : 3

In [ ]:
#다차원 리스트와 ndarray 에서 나오는 결과는>?

In [23]:
#list형태

list_data = [[1,2,3], [4,5,6]]                 #2차원 (2,3)리스트
np.shape(list_data)
print('np.shape(list_data) : ', np.shape(list_data))


data = enumerate(list_data)
for i , value in data:
  print('index  : {},value : {}'.format(i,value))


  #index : 2차원의 순서
  #value : 1차원의 값

np.shape(list_data) :  (2, 3)
index  : 0,value : [1, 2, 3]
index  : 1,value : [4, 5, 6]

In [24]:
list_data = [[[1,2,3], [4,5,6]],[[7,8,9],[10,11,12]]]            #3차원(2,2,3)리스트
np.shape(list_data)
print('np.shape(list_data) : ', np.shape(list_data))

data = enumerate(list_data)
for i , value in data:
  print("index : {}, value : {}".format(i,value))


#index : 3차원의 순서
#value : 2차원의 값

np.shape(list_data) :  (2, 2, 3)
index : 0, value : [[1, 2, 3], [4, 5, 6]]
index : 1, value : [[7, 8, 9], [10, 11, 12]]

In [ ]:
#numpy.ndarray의 형태

In [28]:
x = np.arange(12).reshape(2,2,3)             #3ckdnjs(2,2,3)

print(x)
print('type :', type(x))

[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]]
type : <class 'numpy.ndarray'>

In [29]:
data = enumerate(x)

for i ,value in data:
  print("index : {},value : {}".format(i,value))

#index : 3차원의 순서
#value : 2차원의 값


#===========>ndarray도 list와 비슷하게 결과 값을 나타내는 것을 알 수 있음

index : 0,value : [[0 1 2]
 [3 4 5]]
index : 1,value : [[ 6  7  8]
 [ 9 10 11]]